.menu {
  height: 80px;
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 9999;
}

.row {
  justify-content: space-between;
  align-content: center;
}

img {
  margin-top: 10px;
}

.nav-link-custom {
  font-size: 24px;
  font-weight: 600;
}
